@font-face {
    font-family: "m5x7";
    src: url("./fonts/m5x7.ttf");
}

body {
    font-family: "m5x7";
    font-size: 40px;
    text-align: center;
    padding: 12px 20px;
}

.test {
    width: 60%;
    padding: 12px 20px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}