{% load static %}
{% block head %}
<head>
    <title>Bit by Bit</title>
    <link rel="stylesheet" href="{% static './nes.css/css/nes.min.css' %}">
    <link rel="stylesheet" href="{% static './style.css' %}">
    <style>
        html, body, pre, code, kbd, samp {
            font-family: "Press Start 2P";
            src: url("./2p.ttf");
        }
    </style>
</head>

<body>
    {# Left side of split screen #}
    <div class='split left'>
        <div class="topnav pixel-corners pixel-corners--wrapper nes-btn">
            <div class="topnav-left">
                <a href="#shop">Shop</a>
            </div>
            <div class="topnav-centered">
                <a href="#tasks">Tasks</a>
            </div>
            <div class="topnav-right">
                <a href="#habits">Habits</a>
            </div>
        </div>
        <h1 class="titles nes-text">Create a task:</h1>
        <div class="nes-field a">
            <form action="/" method="POST">
                {% csrf_token %}
                <textarea id="title" name="title" class="input nes-input pixel-corners" placeholder="Enter task" required rows="2"></textarea>
                <textarea id="desc" name="desc" class="input nes-input pixel-corners" placeholder="Enter task description (optional)" rows="5" cols="30"></textarea>
                <button type="submit" class="submit nes-btn pixel-corners">Submit</button>
            </form>
        </div>
        <h1 class="titles nes-text">Your Tasks:</h1>
        <div class="pixel-corners nes-table-responsive">
            <table class="nes-table is-centered tables" style='{}'>
                <tbody>
                    {% for task in tasks %}
                    <tr>
                        <td>{{task.task_title}}</td>
                    </tr>
                    <tr>
                        <td>{{task.task_desc}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    {# Right side of split screen #}
    <div class='split right'>
        <h1>Character Box Here</h1>
    </div>
</body>
{%endblock%}
