{% load static %}
{% block head %}
<head>
    <title>Bit by Bit</title>
    <link rel="stylesheet" href="{% static './nes.css/css/nes.min.css' %}">
    <link rel="stylesheet" href="{% static './style.css' %}">
    <style>
        html, body, pre, code, kbd, samp {
            font-family: "Press Start 2P";
            src: url("./2p.ttf");
        }
    </style>
</head>

<body>
    {# Left side of split screen #}
    <div class='split left'>
        <div class="topnav pixel-corners pixel-corners--wrapper nes-btn">
            <div class="topnav-left">
                <a href="#shop">Shop</a>
            </div>
            <div class="topnav-centered">
                <a href="#tasks">Tasks</a>
            </div>
            <div class="topnav-right">
                <a href="#habits">Habits</a>
            </div>
        </div>
        <h1 class="titles nes-text">Create a task:</h1>
        <div class="nes-field a">
            <textarea  id="name_field" class="input nes-input pixel-corners" placeholder="Enter task" required rows="2"></textarea>
            <textarea id="name_field" class="input nes-input pixel-corners" placeholder="Enter task description (optional)" rows="5" cols="30"></textarea>
        </div>
        <h1 class="titles nes-text">Your Tasks:</h1>
        <div class="pixel-corners nes-table-responsive">
            <table class="nes-table is-centered tables" style='{}'>
                <thead>
                    <tr>
                        <th>test</th>
                        <th>test</th>
                        <th>test</th>
                        <th>test</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>test</td>
                    </tr>
                    <tr>
                        <td>test</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    {# Right side of split screen #}
    <div class='split right'>
        <h1>Character Box Here</h1>
    </div>
</body>
{%endblock%}
