h1 { text-align: center }

.submit-btn:hover {
  background-color: darkgray;
  color: black;
}

.complete-btn {
  background-color: lightgray;
  color: black;
  width: 1.75em;
  height: 1.75em;
}

.task-titles {
  padding-right: 0%;
}

.task-descs {
  color: rgb(115, 120, 120);
  padding-right: 0%;
}

br {
  display: block;
  margin-top: 10px;
  content: "";
}

.tables {
  align-items: center;
  display: inline-table;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
}

.titles {
  font-size: 20px;
  text-align: left;
  padding-left: 1em;
  padding-top: 1em;
}

.input {
  width: 45.25em;
  resize: none;
}

.topnav {
  background-color: lightgray;
  overflow: hidden;
  font-size: 25px;
  display: flex;
  justify-content: space-between; /* Adjust space between items */
  align-items: center;
}

.topnav a {
  color: black;
  padding: 0.25em;
  text-align: center;
  display: block; /* Make the anchor element a block-level element */
  width: 9.5em; /* Set a fixed width for each item */
  
  text-decoration: none;
}

.topnav a:hover {
  background-color: darkgray;
  color: black;
}

.topnav-centered {
  display: inline-block;
  justify-content: center;
  align-items: center; /* Align items vertically */
  flex: 1; /* Take up remaining space */
}

.topnav-right {
  font-size: 25px;
  align-items: center;
  flex: 1;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  padding-left: 1em;
}

/* Control the right side */
.right {
  right: 0;
  padding-left: 1em;
}

.pixel-corners,
.pixel-corners--wrapper {
  clip-path: polygon(0px calc(100% - 12px),
  6px calc(100% - 12px),
  6px calc(100% - 6px),
  12px calc(100% - 6px),
  12px 100%,
  calc(100% - 12px) 100%,
  calc(100% - 12px) calc(100% - 6px),
  calc(100% - 6px) calc(100% - 6px),
  calc(100% - 6px) calc(100% - 12px),
  100% calc(100% - 12px),
  100% 12px,
  calc(100% - 6px) 12px,
  calc(100% - 6px) 6px,
  calc(100% - 12px) 6px,
  calc(100% - 12px) 0px,
  12px 0px,
  12px 6px,
  6px 6px,
  6px 12px,
  0px 12px);
  position: relative;
}

.pixel-corners,
.pixel-corners--wrapper {
  clip-path: polygon(0px calc(100% - 4px),
    2px calc(100% - 4px),
    2px calc(100% - 2px),
    4px calc(100% - 2px),
    4px 100%,
    calc(100% - 4px) 100%,
    calc(100% - 4px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 4px),
    100% calc(100% - 4px),
    100% 4px,
    calc(100% - 2px) 4px,
    calc(100% - 2px) 2px,
    calc(100% - 4px) 2px,
    calc(100% - 4px) 0px,
    4px 0px,
    4px 2px,
    2px 2px,
    2px 4px,
    0px 4px);
  position: relative;
}
.pixel-corners {
  border: 6px solid black;
}
.pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(6px 6px,
    calc(100% - 6px) 6px,
    calc(100% - 6px) calc(100% - 6px),
    6px calc(100% - 6px));
}
.pixel-corners::after,
.pixel-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 4px),
    2px calc(100% - 4px),
    2px calc(100% - 2px),
    4px calc(100% - 2px),
    4px 100%,
    calc(100% - 4px) 100%,
    calc(100% - 4px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 4px),
    100% calc(100% - 4px),
    100% 4px,
    calc(100% - 2px) 4px,
    calc(100% - 2px) 2px,
    calc(100% - 4px) 2px,
    calc(100% - 4px) 0px,
    4px 0px,
    4px 2px,
    2px 2px,
    2px 4px,
    0px 4px,
    0px 50%,
    6px 50%,
    6px 6px,
    calc(100% - 6px) 6px,
    calc(100% - 6px) calc(100% - 6px),
    6px calc(100% - 6px),
    6px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  display: block;
  pointer-events: none;
}
.pixel-corners::after {
  margin: -6px;
}