{% load static %}
<html>

<head>
    <title>Bit by Bit</title>
    <!-- PythonAnywhere
        <link rel="stylesheet" href="./static/style.css"> -->
    <!-- VS Code -->
    <link rel="stylesheet" href="{% static '../static/style.css' %}">
    {% block head %}
    {% endblock %}
</head>
{% block content %}
<body>
    <div>
        <h4>What is your name?</h4>
        <input type="text" class="pixel-corners pixel-corners--wrapper" size="20">
    </div>
</body>
<h1>To Do</h1>
<form>
    {{ form.text }}
    {% csrf_token %}
    <input type="Submit" value="Add task">
</form>
{% for task in tasks %}
<div>
    <ul>
        <li>{{ tasks }}</li>
    </ul>
</div>
{% endfor %}
{% endblock %}
</html>