{% load static %}
<html>

<head>
    <title>Bit by Bit</title>
    <link rel="stylesheet" href="{% static './style.css' %}">
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block content %}
    <div class='split left'>
        <h1>To Do</h1>
        <form class="pixel-corners pixel-corners--wrapper" method="POST">
            {{ form.text }}
            {% csrf_token %}
        </form>
        {% comment %} {% for task in tasks %} {% endcomment %}
        <ul>
            <li>{{ task }}</li>
        </ul>
        {% comment %} {% endfor %} {% endcomment %}
    </div>
    <div class='split right'>
        <h1>Character Box Here</h1>
    </div>
    <!--Character Box Column (column b)-->
</body>
{% endblock %}
</html>